<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Stämpfli AG. All rights reserved.
 * @author marcel.hauri@staempfli.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gdpr>
            <cookie>
                <enabled>0</enabled>
                <position>bottom</position>
                <layout>block</layout>
                <message>This website uses cookies to ensure you get the best experience on our website.</message>
                <dismiss>Got it!</dismiss>
                <deny>Decline</deny>
                <allow>Allow cookies</allow>
                <link_text>Learn more</link_text>
                <link_url>https://cookiesandyou.com/</link_url>
                <palette_background>#000000</palette_background>
                <palette_text>#ffffff</palette_text>
                <button_background>#0000f6</button_background>
                <button_text>#ffffff</button_text>
                <button_border>#0000f6</button_border>
            </cookie>
        </gdpr>
    </default>
</config>